*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
}

main div {
  height: 100vh;
  background-color: black;
}

.header {
  position: sticky;
  top: 0;
}

.header__container {
  position: relative;
  height: 70px;
  display: block;
}
.header__container__logobox {
  background-color: transparent;
}
.header__container__logobox__logoitem {
  height: 100%;
  padding: 0.5em;
}
.header__container__burgericon {
  position: absolute;
  display: inline;
  right: 4px;
  top: 0;
  height: 70px;
  line-height: 70px;
  z-index: 1000;
}
.header__container__burgericon .fa-bars {
  padding: 0.7em;
  font-size: 2.7rem;
  cursor: pointer;
  color: "Poppins", sans-serif;
  color: #000000;
  transition: color 0.3s;
}
.header__container__burgericon .fa-bars:hover {
  color: #980606;
}
.header__container__burgeritems {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(-1000%);
}
.header__container__burgeritems--active {
  transform: translateY(0%);
  justify-content: left;
  overflow-y: auto;
  padding: 50px 0;
}
.header__container__burgeritems__item {
  color: #000000;
  display: block;
  font-weight: 900;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  text-decoration: none;
  background: none;
  transition: color 0.3s;
}
.header__container__burgeritems__item:hover {
  color: #980606;
}
.header__container__nav {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  line-height: 70px;
  height: 70px;
  margin-right: 2rem;
}
.header__container__nav__navitem {
  display: inline-block;
  border: none;
  background-color: transparent;
}
.header__container__nav__navitem a {
  line-height: 100px;
  height: 100px;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding: 1em 0.7em;
  transition: color 0.3s;
  color: #000000;
}
.header__container__nav__navitem a:hover {
  color: #980606;
}

.footer {
  width: 100%;
  height: 25px;
}
.footer__container {
  padding: 0.5em;
}
.footer__container__footertext {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 25px;
  height: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  .header__container {
    height: 120px;
  }
  .header__container__burgericon .fa-bars {
    display: inline;
    line-height: 120px;
    height: 120px;
    font-size: 4rem;
  }
  .header__container__burgeritems__item {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .header__container__burgericon {
    display: none;
  }
  .header__container__nav {
    line-height: 120px;
    height: 120px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .header__container__nav__navitem a {
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=main.css.map */