@use 'fonts' as *;
@use 'colors' as *;
@import 'components';

// techniczna reguła --> usunąć
body {
	height: 200vh;
}

// header --> logo --> navigation
.header__container {
	position: relative;
	height: 80px;
	display: block;
	// background-color: red;
	&__logobox {
		&__logoitem {
			height: 100%;
			padding: 0.5em;
		}
	}
	&__nav {
		position: absolute;
		display: none;
		// background-color: aqua;
		right: 0;
		top: 0;
		line-height: 80px;
		height: 80px;
		margin-right: 2rem;
		&__navitem {
			display: inline-block;
			border: none;
			background-color: transparent;
			// cursor: pointer;
			a {
				line-height: 100px;
				height: 100px;
				text-align: center;
				font-size: 2rem;
				font-family: $title-font;
				// color: $main-text-color;
				font-weight: 900;
				padding: 1em 0.7em;
			}
		}
	}
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.header__container {
		height: 120px;
		&__nav {
			line-height: 120px;
			height: 120px;
		}
	}
}

@media (min-width: 992px) {
	.header__container {
		&__nav {
			display: block;
		}
	}
}
